# directories
.ipynb_checkpoints/
__pycache__/
/figs/
.vscode/
build/

# cython compilation files not included
*.pyd
*.so
*.c
*.cpp

# big files extensions excluded 
*.j
*.h5
*.csv
*.bin
*.dat
*.tar.gz

# all loc[al] files for local testing
loc*

# spared
*bak.*
get_field.py
